.header {
  .btn-setting {
    color: #bfced6 !important;
  }
  .header_main_page{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }.header_main_page{
    color: #bfced6;
  }
}
